# Ignore Python virtual environments
venv/
env/

# Ignore Django migrations and pycache
__pycache__/
*.pyc
migrations
db.sqlite3
Backend_backup


# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore environment files
*.env
.env

# Ignore media or static files where necessary
/node_modules/
/dist/

# Ignore Operating Systems-specific (if possible)
.DS_Store
Thumbs.db

# Ignore my credentials file
superuser.txt
